@page "/homework"

<PageTitle>homework </PageTitle>
 
 
<div> @*TO do :

// Sum function : in while( increment and decrement) and in for 

// Double factorial : in while (increment and decrement) and in for.

Do everything within specific function

Arrange byte season are strA in opposite order and make a function for calling elements. Arrays of bytes, strings and integers. 

New module, functions for iterating from end to the beginning.

8 elements bound to array : min. max. calculate avg. , closest. put all functions in module...

*@ 

</div>


